In [1]:
import numpy as np
import pandas as pd

In [2]:
sample = pd.read_csv('telugu_2.csv')

In [3]:
sample.shape

(3236, 10)

In [4]:
sample.head()

,Unnamed: 0,index,Voter_id,Voter_name,Gender_Voter,Voter_age,Guardian_name,Gender_guardian,Voter_name_telugu,Guardian_name_telugu
0,0,1,WYT0663535,VENKAT REDDY NUKALA,Male,51,RANGA REDDY NUKALA,Male,వెంకట్ రెడ్డి నూకల,రంగ రెడ్డి నూకల
1,1,2,WYT0986960,MANIDEEP REDDY VONTEDDU,Male,19,PRABHAKAR REDDY VONTEDDU,Male,మణిదీప్ రెడ్డి ఒంటెద్దు,ప్రభాకర్ రెడ్డి ఒంటెద్దు
2,2,3,WYT0986333,PRASHANTH MEESALA,Male,19,DEVAIAH MEESALA,Male,ప్రశాంత్ మీసాల,దేవయ్య మీసాల
3,3,4,WYT0987760,KAVITHA SAPAVAT,Female,19,SREENU SAPAVAT,Male,కవితా శాపావత్,శ్రీను శాపావత్
4,4,5,WYT0120782,AKBAR SHAIK,Male,31,ADAM SHAIK,Male,అక్బర్ షైక్,ఆడమ్ షైక్

In [5]:
import os
import csv
import string
from googletrans import Translator

In [6]:
sample.isnull().sum()

Unnamed: 0              0
index                   0
Voter_id                0
Voter_name              0
Gender_Voter            0
Voter_age               0
Guardian_name           0
Gender_guardian         0
Voter_name_telugu       0
Guardian_name_telugu    0
dtype: int64

In [7]:
translator = Translator()

In [8]:
translator.translate('Guardian Name', dest='te', src='en').text

'గార్డియన్ పేరు'

In [9]:
translator.translate('Voter Name', dest='te', src='en').text

'ఓటరు పేరు'

In [10]:
sample.columns

Index(['Unnamed: 0', 'index', 'Voter_id', 'Voter_name', 'Gender_Voter',
       'Voter_age', 'Guardian_name', 'Gender_guardian', 'Voter_name_telugu',
       'Guardian_name_telugu'],
      dtype='object')

In [11]:
sample = sample[['index', 'Voter_id', 'Voter_name', 'Voter_name_telugu', 'Gender_Voter', 'Voter_age', 
                'Guardian_name', 'Guardian_name_telugu', 'Gender_guardian',
                ]]

In [12]:
sample.rename(columns= {'Voter_name_telugu' : 'ఓటరు పేరు', 'Guardian_name_telugu' : 'గార్డియన్ పేరు'})

,index,Voter_id,Voter_name,ఓటరు పేరు,Gender_Voter,Voter_age,Guardian_name,గార్డియన్ పేరు,Gender_guardian
0,1,WYT0663535,VENKAT REDDY NUKALA,వెంకట్ రెడ్డి నూకల,Male,51,RANGA REDDY NUKALA,రంగ రెడ్డి నూకల,Male
1,2,WYT0986960,MANIDEEP REDDY VONTEDDU,మణిదీప్ రెడ్డి ఒంటెద్దు,Male,19,PRABHAKAR REDDY VONTEDDU,ప్రభాకర్ రెడ్డి ఒంటెద్దు,Male
2,3,WYT0986333,PRASHANTH MEESALA,ప్రశాంత్ మీసాల,Male,19,DEVAIAH MEESALA,దేవయ్య మీసాల,Male
3,4,WYT0987760,KAVITHA SAPAVAT,కవితా శాపావత్,Female,19,SREENU SAPAVAT,శ్రీను శాపావత్,Male
4,5,WYT0120782,AKBAR SHAIK,అక్బర్ షైక్,Male,31,ADAM SHAIK,ఆడమ్ షైక్,Male
5,6,WYT0939597,RAMINENI ASHWINI,రామినేని అశ్విని,Female,24,RAMINENI PULLA RAO,రామినేని పుల్ల రావు,Male
6,7,WYT0894114,SAIDULU THAMMANABOINA,సైదులు తమ్మనబోయిన,Male,29,CHANDRAIAH THAMMANABOINA,చంద్రయ్య తమ్మనబోయిన,Male
7,8,WYT0953928,DANALAXMI THAMMANABOINA,దాన్లాష్మి తమ్మనబోయిన,Female,25,SAIDULU THAMMANABOINA,సైదులు తమ్మనబోయిన,Male
8,9,WYT0449546,KOTAGIRI DIVYALAKSHMI,కోటగిరి దివ్యలక్ష్మి,Female,26,NAGAMANI,నాగమణి,Female
9,10,BHY2944569,JOHN REDDY KONATHAM,జాన్ రెడ్డి కొణతం,Male,43,RAMA NARASIMHA REDDY KONATHAM,రామ నరసింహా రెడ్డి కొణతం,Male
10,11,BHY4002077,NAGI REDDY KONATHAM,నాగి రెడ్డి కొణతం,Male,32,ADI REDDY KONATHAM,అది రెడ్డి కొణతం,Male
11,12,WYT0937633,NAVYA KONATHAM,నవ్య కొణతం,Female,22,NAGIREDDY KONATHAM,నాగిరెడ్డి కొణతం,Male
12,13,WYT0894023,BHAVANI THAMMISHETTI,భవాని తమ్మిశెట్టి,Female,23,SRINU THAMMISHETTI,శ్రీను తమ్మిశెట్టి,Male
13,14,WYT0894072,SHARADHA THUDUM,శారద తుడుం,Female,39,VENKATESWARLU THUDUM,వెంకటేశ్వర్లు తుడుం,Male
14,15,WYT0893991,FARHATH HASEENA MOHAMMAD,ఫర్హాత్ హసీనా మొహమ్మద్,Female,22,IBRAHIM MOHAMMAD,ఇబ్రహీం మొహమ్మద్,Male
15,16,WYT0894098,ISMAIL MAHUMAD,ఇస్మాయిల్ మహిమద్,Male,56,GAFUR MAHUMAD,కాఫుర్ మహిమద్,Male
16,17,WYT0894148,RESHMA MOHAMMAD,రేష్మ మొహమ్మద్,Female,26,ISMAIL MOHAMMAD,ఇస్మాయిల్ మొహమ్మద్,Male
17,18,WYT0881012,MAJAHAR MAHAMMAD,మజహర్ మహమ్మద్,Male,26,SHABBIR,షబ్బీర్,Male
18,19,WYT0977969,NAGUL SHAIK,నాగుల్ షైక్,Female,19,JANI BASHA SHAIK,జానీ బాష షైక్,Male
19,20,WYT0894064,GOPI THAMMISHETTI,గోపి తమ్మిశెట్టి,Male,25,EDUKONDALU THAMMISHETTI,ఏడుకొండలూ తమ్మిశెట్టి,Male
20,21,WYT0977951,AVULA KOTESHWARA RAO,ఆవుల కోటేశ్వర రావు,Male,47,AVULA NARASIMHA,ఆవుల నరసింహ,Male
21,22,WYT0259069,MECHPOTHULA KASAIAH,మేచిపోతుల కాశయ్య,Male,34,KANAKAIAH,కనకయ్య,Male
22,23,BHY4005658,AAVULA CHANDRAKALA,ఆవుల చంద్రకళ,Female,30,RAMESH,రమేష్,Male
23,24,BHY4000923,BANAVAT VENKANNA,బాణావత్ వెంకన్న,Male,34,RAMULU,రాములు,Male
24,25,WYT0313569,AAVULA RAMESH,ఆవుల రమేష్,Male,33,NARASHIMHA,నరసింహ,Male
25,26,BHY4004800,Shek Imam Bee,షేక్ ఇమాం బీ,Female,58,Madar Husain,మదర్ హుసైన్,Male
26,27,BHY2617983,Tadi Rajyalakshmi,తడి రాజ్యలక్ష్మి,Female,57,SheoParvathiAreddy,శివపార్వతియారెడ్డి,Male
27,28,BHY2617520,Karri Annapoorna,కర్రీ అన్నపూర్ణ,Female,44,RamakrishanAreddy,రామకృష్ణరెడ్డి,Male
28,29,AP422860516131,RaamKrishaAreddy Karri,రాంకృషారెడ్డి కర్రీ,Male,54,SattiAreddy,సత్తిగారెడ్డి,Male
29,30,BHY1995679,Karri SateeshAreddy,కర్రీ సతీష్రెడ్డి,Male,32,RamakrishnaAreddy,రామకృష్ణారెడ్డి,Male
...,...,...,...,...,...,...,...,...,...
3206,683,WYT0316307,DARAVATH SAIDAMMA,దారావత్ సైదమ్మ,Female,30,NEHRU,నెహ్రు,Male
3207,684,WYT0316323,DARAVATHU NEHRU,ధరావత్తు నెహ్రు,Male,30,KOTAIAH,కోటయ్య,Male
3208,685,BHY4299020,DHARAVAT PADMAVATI,దారావత్ పద్మావతి,Female,28,SUNDAR,సుందర్,Male
3209,686,WYT0247106,JALA UPENDAR,జల ఉపేందర్,Male,27,KOTAIAH,కోటయ్య,Male
3210,687,WYT0247114,JAAL SARABHAIAH,జాలీ శరభయ్య,Male,64,TIRUPAIAH,తిరుపయ్య,Male
3211,688,WYT0247130,JAAL SAMRAJYAM,జాల్ సామ్రాజ్యం,Female,59,SARABHAIAH,శరభయ్య,Male
3212,689,WYT0247148,JAAL ENKATESHWARLU,జాలీ ఎంకటేశ్వర్లు,Male,43,SARABHAIAH,శరభయ్య,Male
3213,690,WYT0247155,JAAL SHRINU,జాల్ శ్రీను,Male,41,SARABHAIAH,శరభయ్య,Male
3214,691,WYT0247163,JAAL RAMANA,జాల్ రమణ,Female,33,SHRINU,శ్రీను,Male
3215,692,BHY4298386,JAAL PADMA,జాల్ పద్మ,Female,37,ENKATESHWARLU,ఎంకటేశ్వర్లు,Male
3216,693,BHY4298493,YARABOLU VENKATA AREDDY,యర్రబోలు వెంకట అరెడ్డి,Male,46,LACHCHIREDDY,లచ్చ్చిరెడ్డి,Male
3217,694,BHY4298501,YARABOLU VENKAMMA,యర్రబోలు వెంకమ్మ,Female,43,VENKAT REDDY,వెంకట్ రెడ్డి,Male
3218,695,BHY4298527,YARABOLU RAGHAVA AREDDY,యర్రబోలు రాఘవ అరెడ్డి,Male,54,LACHCHI REDDY,లచ్చ్చి రెడ్డి,Male
3219,696,BHY4298543,JALA KOTAIAH,జల కోటయ్య,Male,55,RAMAIAH,రామయ్య,Male
3220,697,BHY4298550,JAALA LAKSHMAMMA,జాల లక్ష్మమ్మ,Female,53,KOTAIAH,కోటయ్య,Male
3221,698,BHY4298576,JAAL VENKATESHWARLU,జాల్ వెంకటేశ్వర్లు,Male,32,KOTAIAH,కోటయ్య,Male
3222,699,WYT0247171,JALA PADMA,జల పద్మ,Female,30,VENKATESWARLLU,వెంకటేశ్వర్లు,Male
3223,700,WYT0247189,JALA SHIVA,జల శివ,Male,28,KOTAIAH,కోటయ్య,Male
3224,701,WYT0247197,JALA PAVANI,జల పావని,Female,28,SHIVA,శివ,Male
3225,702,BHY4298907,DARAVAT BALU,దారావత్ బాలు,Male,28,MANGTHA,మంగ్తా,Male
3226,703,WYT0247221,JALA RAMANJAMMA,జల రామాంజమ్మ,Female,26,UPENDAR,ఉపేందర్,Male
3227,704,BHY4298592,JAAL TIRUPAMMA,జాలీ తిరుపమ్మ,Female,74,RAMAIAH,రామయ్య,Male
3228,705,BHY4298618,JAAL SAYAMMA,జాలీ సాయమ్మ,Female,43,SRINU,శ్రీను,Male
3229,706,BHY4298626,JAAL NAGESHWAR RAO,జాల్ నాగేశ్వర్ రావు,Male,39,RAMAIAH,రామయ్య,Male
3230,707,BHY4298634,JAAL MEDEKUMARI,జాలీ మెడెకుమారి,Female,32,NAGASWARARAO,నాగేశ్వరరావు,Male
3231,708,WYT0818593,KALYANI JALA,కళ్యాణి జల,Female,22,SRINIVASA RAO JALA,శ్రీనివాస రావు జల,Male
3232,709,BHY4298519,YARABOLU NAGIREDDY,యర్రబోలు నాగిరెడ్డి,Male,30,VENKATAREDDY,వెంకటరెడ్డి,Male
3233,710,WYT0535260,RACHAMALLA SINDU,రాచమళ్ళ సింధు,Male,25,VENKATESWARLU,వెంకటేశ్వర్లు,Male
3234,711,WYT0969941,GURAVAIAH KODI,గురవయ్య కోడి,Male,68,LINGAIAH KODI,లింగయ్య కోడి,Male
3235,712,WYT1025535,ANIL KUMAR BANDI,అనిల్ కుమార్ బండి,Male,19,SAIDULU BANDI,సైదులు బండి,Male

In [13]:
sample.dtypes

index                    int64
Voter_id                object
Voter_name              object
Voter_name_telugu       object
Gender_Voter            object
Voter_age               object
Guardian_name           object
Guardian_name_telugu    object
Gender_guardian         object
dtype: object

In [14]:
sample.to_csv('sample.csv', index=False, encoding='utf-8')

In [15]:
data = pd.read_csv('sample.csv')

In [16]:
data.head()

,index,Voter_id,Voter_name,Voter_name_telugu,Gender_Voter,Voter_age,Guardian_name,Guardian_name_telugu,Gender_guardian
0,1,WYT0663535,VENKAT REDDY NUKALA,వెంకట్ రెడ్డి నూకల,Male,51,RANGA REDDY NUKALA,రంగ రెడ్డి నూకల,Male
1,2,WYT0986960,MANIDEEP REDDY VONTEDDU,మణిదీప్ రెడ్డి ఒంటెద్దు,Male,19,PRABHAKAR REDDY VONTEDDU,ప్రభాకర్ రెడ్డి ఒంటెద్దు,Male
2,3,WYT0986333,PRASHANTH MEESALA,ప్రశాంత్ మీసాల,Male,19,DEVAIAH MEESALA,దేవయ్య మీసాల,Male
3,4,WYT0987760,KAVITHA SAPAVAT,కవితా శాపావత్,Female,19,SREENU SAPAVAT,శ్రీను శాపావత్,Male
4,5,WYT0120782,AKBAR SHAIK,అక్బర్ షైక్,Male,31,ADAM SHAIK,ఆడమ్ షైక్,Male